.navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;

  font-family: "Inter";
  font-size: 18px;
  line-height: 22px;
  color: var(--color_white);

  display: flex;
  gap: 24px;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .navbar__list {
    font-size: 14px;
    line-height: 17px;
  }
}
