.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 45px;
  padding-bottom: 41px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding: 28px 30px 31px 30px;
  }
}
