.form__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0px 0px 8px;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.form__input:focus {
  border-bottom: 1px solid var(--color_focus);
}